
<div class="grid-inner js-grid cf">
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w2 grid-item--white -in-view" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3245/parallax-launches-new-website-for-tcs" style="
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url('https://parallax-test-2.imgix.net/uploads/download/20171214135652_tcs-blog-1.png?w=1000&amp;h=1000&amp;auto=format%2Ccompress');">
          <div class="grid__content">
            <div class="grid__body js-grid-body" style="transform: translate3d(0px, 0px, 0px);">
    
              <h2 class="grid__heading -featured">Parallax Launches New
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">for TCS</span>
              </h2>
              <p class="">Parallax is proud to announce an all-new website and a remodelled digital brand for Town
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">...</span>
              </p>
            </div>
            <div class="grid__network">Design, Development, News</div>
          </div>
        </a>
      </div>
      <div class="grid-item grid-item--w1 grid-item--spacer js-grid-item js-grid-spacer">
        <div class="grid__inner"></div>
      </div>
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w1 grid-item--nimbus" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3244/free-food-at-the-crypt-ii-a-lunchtime-legends-christmas-special">
          <div class="grid__content">
            <div class="grid__body js-grid-body">
    
              <h2 class="grid__heading">Free Food at the Crypt II: A Lunchtime
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">Christmas Special</span>
              </h2>
              <p class="">Following the previous success of our “Free Food at the Crypt event last December, not to
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;"></span>
              </p>
            </div>
            <div class="grid__network">News</div>
          </div>
        </a>
      </div>
      <div class="js-in-view fade-up grid-item grid-item--image grid-item--w1 js-grid-item">
        <a href="https://www.instagram.com/p/BOSBmBhAuLx/" target="_blank" class="grid__inner caption">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15538319_378756742479547_5528318174962909184_n.jpg?ig_cache_key=MTQxMDE5NjY0NDMzNDU5Mjc1Mw%3D%3D.2"
            alt="">
        </a>
      </div>
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w2 grid-item--nimbus" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3241/parallax-launches-new-website-for-tilsatec" style="
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url('https://parallax-test-2.imgix.net/uploads/download/20171102135757_Tilsa-Blog-image-2.png?w=1000&amp;h=1000&amp;auto=format%2Ccompress');">
          <div class="grid__content">
            <div class="grid__body js-grid-body">
    
              <h2 class="grid__heading -featured">Parallax Launches New
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">for Tilsatec</span>
              </h2>
              <p class="">We’re proud to announce the successful launch of an all-new website for Tilsatec
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">o...</span>
              </p>
            </div>
            <div class="grid__network">Design, Development, News</div>
          </div>
        </a>
      </div>
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w1 grid-item--primary" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3243/parallax-appoints-new-head-of-design">
          <div class="grid__content">
            <div class="grid__body js-grid-body">
    
              <h2 class="grid__heading">Parallax Appoints New Head of
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;"></span>
              </h2>
              <p class="">We’re proud to announce the appointment of Phil Millward as our new Head of Design. An
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;"></span>
              </p>
            </div>
            <div class="grid__network">Design, News</div>
          </div>
        </a>
      </div>
      <div class="grid-item grid-item--w1 grid-item--spacer js-grid-item js-grid-spacer">
        <div class="grid__inner"></div>
      </div>
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w1 grid-item--white" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3240/aws-application-load-balancer-alb-logstash-parsing-pattern">
          <div class="grid__content">
            <div class="grid__body js-grid-body">
    
              <h2 class="grid__heading">AWS Application Load
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">(ALB) Logstash Parsing/Pattern</span>
              </h2>
              <p class=""></p>
            </div>
            <div class="grid__network">Development</div>
          </div>
        </a>
      </div>
      <div class="grid-item js-grid-item js-in-view fade-up grid-item--w1 grid-item--primary" >
        <a class="grid__inner js-grid-inner" href="/blog/view/3239/svg-animation-tools-making-web-animations-simpler">
          <div class="grid__content">
            <div class="grid__body js-grid-body">
    
              <h2 class="grid__heading">SVG Animation Tools:
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">Web Animations Simpler</span>
              </h2>
              <p class="">When it comes to building beautiful animated websites, designers and developers know all
                <span class="js-shave-char">…</span>
                <span class="js-shave" style="display:none;">wel...</span>
              </p>
            </div>
            <div class="grid__network">Development, Tutorials, News</div>
          </div>
        </a>
      </div>
    </div>