<div class="delta -looser company-intro__content trim -in-view">
  <div class="max-width-sm">
    <p>
      <strong>Hello.</strong> Parallax is a digital agency in Leeds and London. We design and build websites and apps, write engaging
      content, make bespoke software, get friendly with search engines and turn our hands to all kinds of design, development
      and digital marketing.</p>
    <a href="/about" class="flip-btn flip-btn--grey">
      <span>Read More</span>
    </a>
  </div>
</div>
