<!--The content below is only a placeholder and can be replaced.-->
<header class="site-header">
<nav class="site-nav js-site-nav">
  
<a href="#site-nav" class="nav-toggle js-nav-toggle js-no-hijack">
  <span class="sr-only">Menu</span>
  <span></span>
</a>
    <ul class="site-nav__list js-site-nav-list">
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>Work</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>Expertise</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>About</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>Blog</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>Products</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a data-path="#" href="/careers" class="site-nav__link">
          <span>
            Careers
            <span class="site-nav__number">4</span>
          </span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">
          <span>Events</span>
        </a>
      </li>
      <!--
                -->
      <li class="site-nav__item -contact">
        <a href="#" class="site-nav__link -contact">
          <span>Contact</span>
        </a>
      </li>
      <li aria-hidden="true" class="site-nav__squiggle">
        <div class="big-squiggle">
          <div></div>
        </div>
      </li>
    </ul>
 
</nav>
</header>

<section id="showcase"  class="body--home">
  <div class="container">
    <div class="row">
    
      <div class="col-md-12 col-sm-12">
        <div class="showcase-right">
          <h1 class="shapes__title">See things our way</h1>
          <p class="pra-desc shapes__subtitle">Parallax is a digital agency in Leeds and London. We make the web work.</p>
        </div>
        <br>
      
      </div>
    </div>
  </div>
</section>

<section id="testimonial" class="container">
  <app-desc-comp></app-desc-comp>
</section>
<section class="cap-component container">
  <app-cap-comp></app-cap-comp>
</section>
<section id="testimonial" class="container">
  <app-desc-comp></app-desc-comp>
</section>
<hr>
  <section class="container grid-comp">
  <app-grid-comp></app-grid-comp>
  </section>



<footer>
  <p class="text-center">Copyright &copy; 2017</p>
</footer>
